{
    "bot": {
        "token": "",
        "prefixes": [
            ""
        ],
        "owners": [
            ""
        ],
        "statuses": [
            ""
        ],
        "statusInterval": ""
    },
    "database": {
        "connection": "username:password@(localhost)/dbname"
    }
    "miscellaneous": {
        "colorEnabled": true,
        "suggestions":  "channel id"
    }
}