{
    "bot": {
        "token": "",
        "prefixes": [
            ""
        ],
        "owners": [
            ""
        ],
        "statuses": [
            ""
        ],
        "statusInterval": ""
    }
}